body{
    text-align: center;
    background-color: grey;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 20px;
    
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}

.purple{
    background-color: #819ff9;
}

.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.change{
    background-color: beige;
}
.userflash{
    background-color: grey;
}

